language: cpp
sudo: required
dist: trusty
compiler:
- clang
os:
- linux
ruby: 2.2.0

services:
  - docker

before_install:
- docker build . -t planner:1.0.0
- docker run -p 50051:50051 planner:1.0.0 ./server
- docker ps -a
